<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.vault.app">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <application
        android:label="Calculator"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:supportsRtl="false">
        <activity
            android:name=".SecretVault"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="6789" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VaultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true" />
        <activity
            android:name=".AppPickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true" />
    </application>
</manifest>
